  <div class="d-flex justify-content-center text-uppercase flex-wrap py-5">
  <h4>YOUR DON'T HAVE ANY ITEMS IN YOUR CART. <%= link_to "START SHOPPING »", root_path, class: "text-dark font-weight-bold" %></h4>
  </div>