@import 'bootstrap/dist/css/bootstrap';
@import "rails_bootstrap_forms";


*:focus {
  outline: 0 !important;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
}

footer {
  position: absolute;
  bottom: 0;
}


.cart-img {
  max-height: 45px;
  max-width: 45px;
  
}


