<div class="row sticky-top bg-white py-2 rounded">
  <div class="col-10 pt-1 ">
    <div class="d-flex justify-content-start flex-wrap">
      <%= link_to "All", products_path, class: "text-secondary mr-4" %>
      <% @categories.each do |cat| %>
        <%= link_to cat.name, products_path(cat: cat.id), class: "text-secondary mr-4 " %>
      <% end %>
    </div>
  </div>

 
  <div class="col-2  border-left">
    <div class="d-flex justify-content-center" id="cart">
      <%= render 'carts/cart' %>


    </div>
  </div>

</div>

